<div class="legend-container">
  <div> Angular 17 + primeng 17.18.1 </div>
  <div> Press escape to trigger a change detection cycle</div>
  <div style="margin-bottom:2em; font-weight:bolder"> elements rendered: {{QTY_ELEMENTS}} . Total Change detection
    cycles: {{ changeDetectionCount }} </div>

  <!--  <div> Cycles after  key press: {{ cyclesAfterKeyPress }}</div> -->
  <div class="card flex justify-content-center">

    <p-selectButton [options]="stateOptions" [(ngModel)]="selectedState" optionLabel="label" optionValue="value" />

  </div>

  <!-- <div >
  <span>

    <p-floatLabel>
      <p-inputNumber pInputText [(ngModel)]="value" />
      <label for="number-input">qty elements </label>
      <p-button label="Submit" (click)="submit()"></p-button>
    </p-floatLabel>


    
  </span>


    
</div> -->
</div>



@for (item of [].constructor(QTY_ELEMENTS); track item; let i = $index) {

@if (selectedState === 0) {
<p-button label=" {{i}} " icon="pi pi-check"> </p-button>


}
@else if (selectedState === 1) {
<p-button [pTooltip]="'tooltip ' + i" label=" {{i}} " icon="pi pi-check"> </p-button>

}
@else {
<p-button [ngxTippy]="'tooltip ' + i" label=" {{i}} " icon="pi pi-check"> </p-button>
}


}